---
id: "home"
test: "hello world"
description: Meta description with "quotes"
---

{% extends "__layouts/layout.njk" %}

{% block content %}

<div class="bg-practitioners-0 w-6/12 mx-auto p-4 rounded-md group hover:bg-practitioners-1 text-black hover:text-white transition">
    <h1 class="font-main text-practitioners-2 group-hover:text-white">Hello, World!</h1>
</div>

{% endblock %}